<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Contact Details</title>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>

<body>
  <h1>Contact Me</h1>
  <p>
    Some Address, India
    <br>
    Ph: 8855224466
    <br>
    prakhar@gmail.com
  </p>
  <hr />
  <form class="" action="mailto:info@gmail.com" method="post" enctype="text/plain">
    <label for="your_name">Your Name: </label>
    <input type="text" name="your_name" value=""><br>
    <label for="email">Your Email: </label>
    <input type="email" name="your_email" value=""><br>
    <label for="your_msg">Your Message: </label><br>
    <textarea name="your_msg" rows="10" cols="30"></textarea><br>
    <input type="submit" name="" value="Submit">
  </form>
</body>

</html>
